.footer {
  color: blueviolet;
  }

  .jumbotron {
    font-family: 'Poiret One', cursive;
    color: blueviolet;
    }

    .zoom2:hover {
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }

  .container{
    color: aqua;
    background-color: black;
}

.container2{ 
  color: blueviolet;
}

.btn-group {
  margin: 5px;
}

.col-sm-6 {
  justify-content: center;
  color: blueviolet;
}